<%- include('./components/header') %>

  <section id="content" class="content w-100 " style="margin-top: 0px; margin-bottom:0px;">

    <main id="login" class="form-signin text-center">
      <form action="/cadastro" method="POST">

        <h1 class="pb-3">Cadastro</h1>

        <div class="form-floating pb-2">
          <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" required>
          <label for="floatingInput">Nome</label>
        </div>

        <div class="form-floating pb-2">
          <input type="text" class="form-control" id="floatingInput" name="email" placeholder="nome@example.com"
            >
          <label for="floatingInput">E-mail</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control mb-2" id="floatingPassword" name="password" placeholder="Password"
            required>
          <label for="floatingPassword">Senha</label>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control mb-3" id="confirmPassword" placeholder="Password" required>
          <label for="floatingPassword">Repita a senha</label>
        </div>
        <div class="alert alert-danger d-none" ID="erro" role="alert">
          E-mail já utilizado!
        </div>
        <button class="w-100 btn btn-lg btn-primary mb-4" type="submit">Cadastrar</button>

        <div class="checkbox ">
          <p>Já possui uma conta? <a href="/login">Faça login!</a> </p>
        </div>


      </form>
    </main>

    <script>
      // Selecione os elementos do formulário
      const Password = document.getElementById('floatingPassword');
      const confirmPasswordField = document.getElementById('confirmPassword');
      const form = document.querySelector('form');

      // Adicione um ouvinte de evento para o envio do formulário
      form.addEventListener('submit', function (event) {
        event.preventDefault;

        if (floatingPassword.value !== confirmPasswordField.value) {
          // As senhas não coincidem, impedir o envio do formulário
          event.preventDefault();
          msgErro = document.getElementById('erro');
          msgErro.innerText = 'As senhas não coincidem. Por favor, verifique!';
          msgErro.classList.remove("d-none");
      msgErro.classList.add("d-block");
          
        }
      });
    </script>

<script>
  // Função para obter parâmetros da URL
  function obterParametroDaURL(nome) {
      const urlSearchParams = new URLSearchParams(window.location.search);
      return urlSearchParams.get(nome);
  }

  // Verificar se o parâmetro "erro" está presente na URL
  const erro = obterParametroDaURL('erro');
  if (erro === 'jacadastrado') {
      
      msgErro = document.getElementById('erro');
      msgErro.innerText = 'E-mail ja cadastrado!';
      msgErro.classList.remove("d-none");
      msgErro.classList.add("d-block");
  }

  //Verificar se houve sucesso!
  const msg = obterParametroDaURL('msg');
  if (msg === 'sucesso') {
      
      msgErro = document.getElementById('erro');
      msgErro.innerText = 'Usuário cadastrado com sucesso!';
      msgErro.classList.remove("d-none");
      msgErro.classList.remove("alert-danger");
      msgErro.classList.add("alert-success");
      msgErro.classList.add("d-block");
  }


</script>

  </section>

  <%- include('./components/footer') %>