<form>
    <!-- Adicione campos de edição aqui -->

    <div class="mb-3">
        <label for="nome" class="form-label">ID</label>
        <input type="text" class="form-control" id="editFormId" placeholder="Nome" readonly>
    </div>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="editFormName" placeholder="Nome">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="editFormEmail" placeholder="Email">
    </div>
    <div class="mb-3">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="text" class="form-control" id="editFormTelefone" placeholder="Telefone">
    </div>
    <div class="mb-3">
        <label for="sexo" class="form-label">Sexo</label>
        <select class="form-select" id="editFormSexo">
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<script>

    
</script>

