    <%- include('./components/header') %>

    <section class="container-fluid content" style="margin-top: 0px; margin-bottom: 30px;">
    
        <div class="row d-flex justify-content-center">
    
          <div class="col-sm-3 pt-5">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Agenda</h5>
                <p class="card-text">Gerencie agendas.</p>
                <a href="#" class="btn btn-info align-self-end">Acessar</a>
              </div>
            </div>
           </div>
          <div class="col-sm-3 pt-5">
            <div class="card d-flex" style="height: 100%;">
              <div class="card-body" >
                <h5 class="card-title">Clientes</h5>
                <p class="card-text">Gerencie clientes.</p>
                <a href="#" class="btn btn-info align-self-end">Acessar</a>
              </div>
            </div>
          </div>
        </div>
    
        <div class="row d-flex justify-content-center">
          <div class="col-sm-3 pt-5">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Serviços</h5>
                <p class="card-text">Gerencie serviços.</p>
                <a href="#" class="btn btn-info">Acessar</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3 pt-5">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Barbeiros</h5>
                <p class="card-text">Gerencie os barbeiros.</p>
                <a href="#" class="btn btn-info">Acessar</a>
              </div>
            </div>
          </div>
        </div>
    
      </section>

    <%- include('./components/footer') %>


    
